/* --- Universal Box Sizing with Inheritance --- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --cell-size: 150px;
}

$blue: #55acee;
$purple: #a186be;
$white: #f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

@mixin pseduo-div( $w, $h ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

@mixin align-center() {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}

/* --- Styles --- */
body {
  margin: 0;
  padding: 0;
  background-image: url( '../img/fantasy-bg.jpg' );
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'Bungee Inline', cursive;
  color: $white;
}

h1 {
  position: relative;

  &::before,
  &::after {
    @include pseduo-div( 100%, 100% );
  }

  &::before {
    background-image: url( '../img/fire.png' );
    left: 0;
  }

  &::after {
    background-image: url( '../img/stars.png' );
    right: 0;
  }
}

.current-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  p {
    margin: 0;
  }

  img {
    width: auto;
    height: 25px;
  }
}


.board {
  display: grid;
  grid-template-columns: repeat( 3, auto );
  grid-template-rows: repeat( 3, auto );
  grid-gap: 15px;
  width: 100%;
  height: 100%;

  &.unicorn,
  &.dragon {
    .cell:not( .dragon ):not( .unicorn ):hover::before {
      @include pseduo-div( 70%, 70% );
      @include align-center();
      background-size: contain;
      opacity: 50%;
    }
  }

  &.unicorn {
    .cell:not( .dragon ):hover::before {
      background-image: url( '../img/unicorn.png' );
    }
  }

  &.dragon {
    .cell:not( .unicorn ):hover::before {
      background-image: url( '../img/dragon.png' );
    }
  }
}

.cell {
  background-color: $white;
  width: var( --cell-size );
  height: var( --cell-size );
  cursor: pointer;
  position: relative;

  &.dragon,
  &.unicorn {
    position: relative;
    cursor: not-allowed;

    &::before {
      @include pseduo-div( 70%, 70% );
      @include align-center();
      background-size: contain;
    }
  }

  &.dragon::before {
    background-image: url( '../img/dragon.png' );
  }

  &.unicorn::before {
    background-image: url( '../img/unicorn.png' );
  }
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reset-button {
  color: $white;
  font-family: 'Bungee Inline', cursive;
  border: none;
  padding: 10px 20px;
  background-color: $purple;
  box-shadow: 5px 5px 0 $blue;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale( 1.2 );
  }
}