$blue: #55acee;
$purple: #a186be;
$white: #f5f5f5;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


body {
  margin: 0;
  padding: 0;
  background: linear-gradient( $purple, $blue );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'Bungee Inline', cursive;
}
